{% extends 'adminBase.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-4 text-center">Gestion des Users :</h1>
    <hr class="w-25 mx-auto bg-danger mt-3">
    <p><a class="btn btn-outline-primary" href="{{ path('admin_dashboard') }}">Retour</a></p>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show w-25 mx-auto" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>prénom</th>
                <th>Email</th>
                <th>Verifier</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.email}}</td>
                {% if user.isVerified == 1 %}
                    <td class="text-success"><i class="fas fa-check fa-2x"></i></td>
                {% else %}
                    <td class="text-danger"><i class="fas fa-check fa-2x"></i></td>
                {% endif %}    
                <td>
                    <a href="" class="text-secondary p-2" data-toggle="tooltip4" title="Editer"><i class="far fa-edit fa-lg"></i></a>
                    <a onclick="javascript:
                                    swal({
                                        title: 'supprimer ?',
                                        text: 'Voulez-vous supprimer la catégorie {{user.firstname}} ?',
                                        type: 'question',
                                        showCancelButton: true,
                                        confirmButtonText: 'Oui',
                                        confirmButtonColor: '#0275d8',
                                        cancelButtonText: 'Non',
                                        cancelButtonColor: '#d9534f',
                                    })
                                .then((willDelete) => {
                                    window.location.href = '';});" class="text-danger">
												<i class="fas fa-trash-alt fa-lg" data-toggle="tooltip4" title="Supprimer"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
    {{ knp_pagination_render(users) }}
    </div>
</div>    
{% endblock %}