{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="w-75 mx-auto">
        <h5 class="text-center">{{annonces.title}}</h5>
        <hr class="w-50 bg-danger">
        <div>
                <p class="text-justify">{{ annonces.content | raw }}</p>
                <p>{{annonces.user.email}}</p>
        </div>
        <div class="w-75 mx-auto">
                <h4>Contactez le vendeur :</h4>
                {{form_start(form)}}
                    <div class="form-row">
                        <div class="col">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.firstname) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{ form_row(form.emailcontact) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.emailexpediteur) }}
                        </div>
                    </div>
                    {{ form(form) }}
                {{form_end(form)}}    
        </div>
            
    </div>
</div>
{% endblock %}